.Ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*margin-top: 23px; */
}

.Line {
    color: black;
}

p {
    margin-top: 5.33px;
    margin-bottom: 5.33px;
}

.Bold { 
    font-weight: bold;
}

.Sender {
    color: black;
}
