.Ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 23px;
}

.Line {
    margin-top: -10px;
    color: black;
}

.Bold { 
    font-weight: bold;
}

.Sender {
    color: black;
}
